<nav>
	<div class="m1 menu">
	    <div id="menu-center">
	        <ul>
	            <li><a class="active" href="#home">Home</a> </li>
	            <li><a href="#portfolio">Portfolio</a> </li>
	            <li><a href="#about">About</a> </li>
	            <li><a href="#contact">Contact</a> </li>
	        </ul>
	    </div>
	</div>
</nav>


<div id="home"> home pages</div>
<div id="portfolio"> portfolio pages</div>
<div id="about"> about pages </div>
<div id="contact"> Contact pages</div>

