

  <!-- SHOWCASE SECTION -->
  <section class="jumbotron text-center" id="showcase">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <h1 class="display-3">Welcome</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <p class="lead">On veut de la tune.</p>
          <hr>
          <p class="lead">sex | argent | femmes</p>
        </div>
        <div class="col-lg-3">
          <img class="img-fluid img-thumbnail" src="https://cdn.makeawebsitehub.com/wp-content/uploads/2017/04/wordpress-923188_640.jpg" alt="">
        </div>
      </div>
    </div>
  </section>

  <!-- PORTFOLIO SECTION -->
  <section id="portfolio">
    <div class="container">
      <h1 class="display-4">Nos Realisation</h1>
      <hr>
      <div class="sample-images">

        <div class="sample-image">
          
        </div>
        <div class="sample-image">
          
        </div>
        <div class="sample-image">
         
        </div>
        
      </div>
    </div>
  </section>

  <!-- CONCTACTS SECTIONS -->
  <section id="contact">
    <div class="container">
      <h1 class="display-4">Contact</h1>
      <hr>
      <div class="form row">
        <form class="contact-form col-lg-8" action="index.html" method="post">
          <div class="form-group">
            <label for="">Name</label>
            <input class="form-control" type="text" name="name" value="" placeholder="Enter Name" required>
          </div>
          <div class="form-group">
            <label for="">Email Address</label>
            <input class="form-control" type="email" name="name" value="" placeholder="Enter Email Address" required>
          </div>
          <div class="form-group">
            <label for="">Phone Number</label>
            <input class="form-control" type="number" name="name" value="" placeholder="Enter Phone Number" required>
          </div>
          <div class="form-group">
            <label for="">Message</label>
            <textarea class="form-control" name="message" rows="8" cols="80" required></textarea>
          </div>
          <button type="submit" name="button" class="btn btn-outline-dark d-block mx-auto">Submit</button>
        </form>
        <div class="form-information col-lg-4 align-self-center">
          <p>Laisser nous un commantaire.</p>
        </div>
      </div>
    </div>
  </section>
