
  <!-- FOOTER SECTION -->
  <footer>
    <div class="information text-center">
      <h1 class="display-4">On The Internet</h1>
      <a class="button social" target="_blank" href="#"><i class="fa fa-fw fa-github fa-lg"></i></a>
      <a class="button social" target="_blank" href="https://www.linkedin.com/in/david-nwachukwu-a4449a15a/"><i class="fa fa-fw fa-linkedin fa-lg"></i></a>
      <a class="button social" target="_blank" href="#"><i class="fa fa-fw fa-twitter fa-lg"></i></a>
    </div>
    
  </footer>