 <!-- NAVIGATION -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Riva diffusion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item  active"> <a href="#showcase" class="nav-link scroll">About</a> </li>
        <li class="nav-item"> <a href="#portfolio" class="nav-link scroll">Nos realisation</a> </li>
        <li class="nav-item"> <a href="#contact" class="nav-link scroll">Contact</a> </li>
      </ul>
    </div>
  </nav>